<p id="notice"><%= notice %></p>

<p>
  <strong>Style type:</strong>
  <%= @beer.style_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @beer.sold %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @beer.rating %>
</p>

<p>
  <strong>Review:</strong>
  <%= @beer.review %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
